:root {
    --brand: rgba(219, 169, 39, .8);
}

.bg-brand {
    background: var(--brand);
}

body {
    background: #efefef;
}

.mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Roboto Mono",
        "Source Code Pro", "Noto Sans Mono CJK JP", "Noto Sans Mono", monospace;
}

.small {
    font-size: .9rem;
}

table td input[type="text"] {
    min-width: 6rem;
}